.container {
  display: flex;
  justify-content: space-between;
  max-width: var(--size-max-width);
  align-items: center;
  margin: 0 auto;
  padding: var(--space-2xl) var(--size-gutter);
}

.navigation {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  font-size: var(--text-sm);
  list-style: none;
  margin: 0;
  gap: var(--space-xl);
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.navigationItem a {
  border-bottom: 1.5px solid transparent;
  color: currentColor;
  text-decoration: none;
}

.navigationItem a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.logoLink {
  display: flex;
  font-weight: var(--medium);
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  gap: var(--space-md);
}

@media (max-width: 767px) {
  .logoLink > span:last-child {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.logo {
  height: var(--size-logo-height);
  width: var(--size-logo-width);
  display: block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='46' height='50' viewBox='0 0 282.000000 346.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,346.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M844 2555 c3 -8 125 -222 271 -475 240 -416 264 -462 254 -483 -7%0A-12 -128 -223 -271 -469 -142 -246 -258 -450 -258 -453 0 -3 33 -5 74 -5 l74%0A0 73 125 c39 69 75 128 79 130 4 3 13 -9 20 -25 20 -48 122 -136 182 -156 79%0A-28 179 -24 249 8 69 31 134 88 160 140 11 21 21 38 24 38 2 0 36 -57 76 -126%0A40 -69 78 -128 84 -131 7 -2 42 -3 79 -1 l66 3 -271 469 c-239 415 -269 472%0A-260 492 6 13 127 226 271 474 143 248 260 453 260 455 0 3 -33 5 -74 5 l-75%0A0 -78 -135 -78 -135 -18 36 c-27 52 -94 116 -152 143 -73 35 -191 40 -267 11%0A-65 -24 -144 -91 -173 -144 -11 -20 -22 -36 -25 -36 -3 0 -38 59 -79 130 l-75%0A130 -74 0 c-61 0 -73 -3 -68 -15z m721 -198 c21 -12 53 -42 70 -65 27 -39 30%0A-52 30 -115 l0 -72 -100 -172 c-55 -95 -102 -173 -106 -173 -9 0 -192 321%0A-206 363 -33 96 37 220 144 254 49 16 117 7 168 -20z'/%3E%3C/g%3E%3C/svg%3E%0A");
}
